version: '2.1'

volumes:
  touchpass:

services:
  touchpass:
    build: ./touchpass
    network_mode: "host"
    privileged: true
    labels:
       io.balena.features.dbus: '1'
       io.balena.features.firmware: '1' 
    volumes:
      - 'touchpass:/data'

  cellular:
    build: ./quectel-CM
    network_mode: "host"
    privileged: true
    labels:
       io.balena.features.dbus: '1'
       io.balena.features.firmware: '1' 
    volumes:
      - 'touchpass:/data'
    environment:
      - 'DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket'
    
  # pinctl:
  #   build: ./pinctl
  #   restart: "no"
  #   network_mode: "host"
  #   privileged: true
  #   labels:
  #      io.balena.features.dbus: '1'
  #      io.balena.features.firmware: '1' 
  
  # wifi-connect:
  #     build: ./wifi-connect
  #     network_mode: "host"
  #     labels:
  #         io.balena.features.dbus: '1'
  #     cap_add:
  #         - NET_ADMIN
  #     environment:
  #         DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"

  # wifi-repeater:
  #   build: ./wifi-repeater
  #   network_mode: "host"
  #   privileged: true
  #   labels:
  #     io.balena.features.dbus: '1'
  #     io.balena.features.firmware: '1' 

  # balena-node-red:
  #   image: bh.cr/balenalabs/balena-node-red
  
      #entrypoint: ["sh", "-c", "echo 'starting in 25' && sleep 25 && /usr/src/app/start.sh"]

  browser:
    image: bh.cr/balenalabs/browser-aarch64 # where <arch> is one of aarch64, arm32 or amd64
    depends_on:
      touchpass:
        condition: service_started
    network_mode: "host"
    privileged: true # required for UDEV to find plugged in peripherals such as a USB mouse
    ports:
        - '5011' # management API (optional)
        - '35173' # Chromium debugging port (optional)
    volumes:
      - 'touchpass:/data' # Only required if using PERSISTENT flag (see below)
    entrypoint: ["sh", "-c", "echo 'starting in 1' && sleep 1 && /usr/src/app/start.sh"]


      