<header>
<div class="container-fluid">
  <h1>Quikick Dashboard</h1>
  <nav>
    <a href="/select-player" class="btn btn-link">Select Player</a>
    <a href="/scoreboard" target="_blank" class="btn btn-link">ScoreBoard</a>
    <a href="/leaderboard" target="_blank" class="btn btn-link">Leaderboard</a>
  </nav>
</div>
</header>